@page "/roles/create"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@layout _RoleManagementToolsLayout

<h5 class="bg-primary text-white text-center p-2">Create Role</h5>

<EditForm OnValidSubmit="HandleValidSubmit" Model="@_roleModel">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary class="text-danger"></ValidationSummary>
    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="_roleModel.Name"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <NavLink class="btn btn-secondary" href="Roles">go back</NavLink>
</EditForm>

@if (errors.Any())
{
    <ul>
    @foreach (var error in errors)
        {
            <li>@error</li>
        }    
    </ul>
    
}

@code {
    private EditRoleModel _roleModel = new EditRoleModel();
    private List<string> errors = new List<string>();
    
    private async void HandleValidSubmit()
    {
        errors.Clear();
        var result = await HttpClient.PostAsJsonAsync("api/roles", _roleModel);
        if (result.StatusCode == HttpStatusCode.Accepted)
        {
            NavigationManager.NavigateTo("/roles");
        }
        else
        {
            errors = await result.Content.ReadFromJsonAsync<List<String>>();
            StateHasChanged();
        }
    }
}