@page
@model MiniInvoicer.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.BrandID" class="control-label"></label>
                <input asp-for="Product.BrandID" class="form-control" />
                <span asp-validation-for="Product.BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CompanyID" class="control-label"></label>
                <input asp-for="Product.CompanyID" class="form-control" />
                <span asp-validation-for="Product.CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryID" class="control-label"></label>
                <input asp-for="Product.CategoryID" class="form-control" />
                <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Note" class="control-label"></label>
                <input asp-for="Product.Note" class="form-control" />
                <span asp-validation-for="Product.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnisPerPacket" class="control-label"></label>
                <input asp-for="Product.UnisPerPacket" class="form-control" />
                <span asp-validation-for="Product.UnisPerPacket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.PacketPerCase" class="control-label"></label>
                <input asp-for="Product.PacketPerCase" class="form-control" />
                <span asp-validation-for="Product.PacketPerCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitWeight" class="control-label"></label>
                <input asp-for="Product.UnitWeight" class="form-control" />
                <span asp-validation-for="Product.UnitWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.PacketWeight" class="control-label"></label>
                <input asp-for="Product.PacketWeight" class="form-control" />
                <span asp-validation-for="Product.PacketWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CaseWeight" class="control-label"></label>
                <input asp-for="Product.CaseWeight" class="form-control" />
                <span asp-validation-for="Product.CaseWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Tax" class="control-label"></label>
                <input asp-for="Product.Tax" class="form-control" />
                <span asp-validation-for="Product.Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
