@page
@model MiniInvoicer.Pages.Addresses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address.StreetID" class="control-label"></label>
                <input asp-for="Address.StreetID" class="form-control" />
                <span asp-validation-for="Address.StreetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AreaID" class="control-label"></label>
                <input asp-for="Address.AreaID" class="form-control" />
                <span asp-validation-for="Address.AreaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.NeighborhoodID" class="control-label"></label>
                <input asp-for="Address.NeighborhoodID" class="form-control" />
                <span asp-validation-for="Address.NeighborhoodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.CityID" class="control-label"></label>
                <input asp-for="Address.CityID" class="form-control" />
                <span asp-validation-for="Address.CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.CountryID" class="control-label"></label>
                <input asp-for="Address.CountryID" class="form-control" />
                <span asp-validation-for="Address.CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipcodeID" class="control-label"></label>
                <input asp-for="Address.ZipcodeID" class="form-control" />
                <span asp-validation-for="Address.ZipcodeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.HolderID" class="control-label"></label>
                <input asp-for="Address.HolderID" class="form-control" />
                <span asp-validation-for="Address.HolderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.GovernorateID" class="control-label"></label>
                <input asp-for="Address.GovernorateID" class="form-control" />
                <span asp-validation-for="Address.GovernorateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.BuildingNumber" class="control-label"></label>
                <input asp-for="Address.BuildingNumber" class="form-control" />
                <span asp-validation-for="Address.BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.BuildingName" class="control-label"></label>
                <input asp-for="Address.BuildingName" class="form-control" />
                <span asp-validation-for="Address.BuildingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.NearbyPlace" class="control-label"></label>
                <input asp-for="Address.NearbyPlace" class="form-control" />
                <span asp-validation-for="Address.NearbyPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Note" class="control-label"></label>
                <input asp-for="Address.Note" class="form-control" />
                <span asp-validation-for="Address.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
