@page
@model MiniInvoicer.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invoice.InvoiceID" />
            <div class="form-group">
                <label asp-for="Invoice.OrderID" class="control-label"></label>
                <input asp-for="Invoice.OrderID" class="form-control" />
                <span asp-validation-for="Invoice.OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Value" class="control-label"></label>
                <input asp-for="Invoice.Value" class="form-control" />
                <span asp-validation-for="Invoice.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.TimesPrinted" class="control-label"></label>
                <input asp-for="Invoice.TimesPrinted" class="form-control" />
                <span asp-validation-for="Invoice.TimesPrinted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Discount" class="control-label"></label>
                <input asp-for="Invoice.Discount" class="form-control" />
                <span asp-validation-for="Invoice.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.DateCreated" class="control-label"></label>
                <input asp-for="Invoice.DateCreated" class="form-control" />
                <span asp-validation-for="Invoice.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
