@page
@model MiniInvoicer.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.CompanyID" />
            <div class="form-group">
                <label asp-for="Company.AccountID" class="control-label"></label>
                <input asp-for="Company.AccountID" class="form-control" />
                <span asp-validation-for="Company.AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.AddressID" class="control-label"></label>
                <input asp-for="Company.AddressID" class="form-control" />
                <span asp-validation-for="Company.AddressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.AssignedCompanyTypeID" class="control-label"></label>
                <input asp-for="Company.AssignedCompanyTypeID" class="form-control" />
                <span asp-validation-for="Company.AssignedCompanyTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.AssignedCompanyStatusID" class="control-label"></label>
                <input asp-for="Company.AssignedCompanyStatusID" class="form-control" />
                <span asp-validation-for="Company.AssignedCompanyStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Name" class="control-label"></label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Description" class="control-label"></label>
                <input asp-for="Company.Description" class="form-control" />
                <span asp-validation-for="Company.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Slogan" class="control-label"></label>
                <input asp-for="Company.Slogan" class="form-control" />
                <span asp-validation-for="Company.Slogan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.EstablishDate" class="control-label"></label>
                <input asp-for="Company.EstablishDate" class="form-control" />
                <span asp-validation-for="Company.EstablishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.TaxNumber" class="control-label"></label>
                <input asp-for="Company.TaxNumber" class="form-control" />
                <span asp-validation-for="Company.TaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
